.tab-background {
  display: flex;
  background-color: #1F1F1F;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
  margin-left: 0;
  margin-top: 0;
}

.menu {
  height: 40px;
  width: 40px;
  margin-top: 0;
  margin-left: 65px;
}

.h1 {
  color: azure;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}

.h2 {
  color: azure;
  margin-top: 10px;
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.7;
}

.h3 {
  color: azure;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 5px;
}

.message {
  margin-right: 10px;
}

.buttons {
  display: flex;
  margin-top: 18px;
}

.buttons1 {
  display: flex;
}

button {
  width: 150px;
  height: 52px;
  display: flex;
  align-items: center;
  color: #9A9C9F;
  background-color: #0a0e17;
  font-size: 17px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  align-content: center;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.25);
}

button:hover {
  color: #ffffff;
  background-color: #232cff;
}

.dropdown-container {
  width: 250px;
  align-items: center;
  align-content: center;
  align-self: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  /* border-radius: 5px; */
  border: none;
  background-color: #1F1F1F;
  color: white;
}

.input-box::placeholder {
  color: #808080;
  font-size: 16px;
  min-width: 200px;
}


.send-button {
  width: 100%;
  margin-top: 10px;
  height: 52px;
  align-items: center;
  background-color: #0a0e17;
  font-size: 17px;
  border-radius: 10px;
  padding: 10px;
  align-content: center;
  border: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


button:hover {
  color: #ffffff;
  background-color: #232cff;
}

.chatbox {
  margin-top: 20px;
  color: white;
  /* background: linear-gradient(to top, rgba(10, 14, 23, 1) 0%, rgba(10, 14, 23, 0) 100%); */

}

.message-container {
  background-color: #0A0E17;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

}

.message-container .subject {
  font-weight: bold;
}

.line {
  width: 260;
  align-self: center;
  border-top: 2px solid #0A0E17 !important;
  border: 0px;
}