.tab-background {
  display: flex;
  background-color: #1F1F1F;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
  margin-left: 0;
  margin-top: 0;
}

.menu {
  height: 40px;
  width: 40px;
  margin-top: 0;
  margin-left: 65px;
}

.h1 {
  color: azure;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}

.h2 {
  color: azure;
  margin-top: 10px;
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.7;
}

.h3 {
  color: azure;
  font-size: 16px;
  font-weight: 650;
  margin-top: 20px;
  margin-left: 5px;
}

.message {
  margin-right: 10px;
}

.buttons {
  display: flex;
  margin-top: 18px;
}


.buttons1 {
  display: flex;
}

.button {
  width: 50%;
  height: 52px;
  display: flex;
  align-items: center;
  color: #9A9C9F;
  background-color: #0a0e17;
  font-size: 17px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  align-content: center;
  /* box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.25); */
}

.button:hover {
  color: #ffffff;
  background-color: #2C2F38;
}

.dropdown-container {
  width: 250px;
  align-items: center;
  align-content: center;
  align-self: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-box {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  align-self: center;
  /* border-radius: 5px; */
  border: none;
  background-color: #1F1F1F;
  color: white;
  /* min-width: 200px; */
  /* Set a minimum width for the input field */
}

.input-box::placeholder {
  color: #808080;
  font-size: 16px;
  min-width: 200px;
}


.send-button {
  width: 100%;
  margin-top: 10px;
  height: 52px;
  align-items: center;
  background-color: #0a0e17;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  padding: 10px;
  align-content: center;
  border: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


button:hover {
  color: #ffffff;
  background-color: #232cff;
}

.chatbox {
  margin-top: 20px;
  color: white;
  /* background: linear-gradient(to top, rgba(10, 14, 23, 1) 0%, rgba(10, 14, 23, 0) 100%); */

}

.message-container {
  background-color: #0A0E17;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

}

.message-container .subject {
  font-weight: bold;
}

.line {
  width: 100%;
  align-self: center;
  border-top: 2px solid #0A0E17 !important;
  border: 0px;
}

.feedback-container {
  margin-top: 5px;
  display: flex;
  text-align: center;
}

.feedback-container1 {
  display: flex;
  text-align: center;
}

.feedback-button {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  height: 52px;
  align-items: center;
  background-color: transparent;
  font-size: 17px;
  border-radius: 0px;
  padding: 10px;
  align-content: center;
  border: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-bottom: solid #ffffff;
  border-bottom-width: 2px;
}

.h4 {
  color: rgba(240, 255, 255, 0.568);
  font-size: 16px;
  font-weight: 650;
  margin-top: 20px;
  margin-left: 5px;
}

.feedback-button:hover {
  background-color: transparent;
}

.feedback-button:hover span {
  color: white;
}

.button-text {
  font-weight: 650;
}

.main {
  display: grid;
  overflow-y: scroll;
  height: 100%;
  grid-auto-flow: row;
}

.main::-webkit-scrollbar {
  width: 0px;
}

.questions-container {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--size-3);
  overflow-y: scroll;
  height: 95%;
  overscroll-behavior: contain;
  grid-auto-flow: row;
  margin-top: 15px;
  opacity: 1;
}

.questions-container::-webkit-scrollbar {
  width: 0px;
}

.comments-container {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--size-3);
  overflow-y: scroll;
  height: 500px;
  overscroll-behavior: contain;
  grid-auto-flow: row;
  margin-top: 15px;
}

.comments-container::-webkit-scrollbar {
  width: 0px;
}

.question {
  background-color: #2C2F38;
  width: "100%";
  border-radius: 5px;
  padding: 15px;
  padding-top: 10px;
  margin-top: 15px;
}

.question-username {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}

.time {
  margin-left: 12px;
  font-weight: 10;
  opacity: 0.7;
  font-size: 16px;
}

.question-text {
  margin-top: 10px;
  color: #ffffff;
  font-size: 15px;
  opacity: 0.7;
  font-weight: 100;
  text-align: auto;
}

.question-footer {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff9d;
  /* opacity: 0.8; */
  margin-top: 10px;
}

.text-btn:hover {
  color: #ffffff;
  background-color: transparent;
}

.text-btn1:hover {
  color: #ffffff;
  background-color: transparent;
}

.footer {
  margin-top: 20px;
  display: flex;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff9d;
}

.text-btn {
  background-color: transparent;
  border: none;
  font-weight: 650;
  font-size: 17px;
  color: #ffffff9d;
}

.text-btn1 {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff9d;
}

.agenda-container {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--size-3);
  overflow-y: scroll;
  height: 430px;
  overscroll-behavior: contain;
  grid-auto-flow: row;
  margin-top: 15px;
}

.agenda-container::-webkit-scrollbar {
  width: 0px;
}

.agenda-questions {
  display: flex;
  background-color: #2C2F38;
  width: "100%";
  border-radius: 10px;
  padding: 15px;
  padding-top: 10px;
  margin-top: 15px;
}

.dragicon {
  width: 25px;
  height: 14px;
  margin-top: 40px;
  align-items: center;
}

.agenda-questions:hover {
  background-color: #424651;
}

.agenda-text {
  margin-left: 15px;
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 0px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
  background: #cccccc;
}

.control input:checked~.control_indicator {
  background: #232cff;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
  background: "#0e6647d";
}

.control input:disabled~.control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked~.control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
  border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #232cff;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}