@font-face {
  font-family: albert;
  src: url(./assets/Albert_Sans/AlbertSans-VariableFont_wght.ttf);
}

.tab-background {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
  margin-left: 0;
  margin-top: 0;
}

.menu {
  height: 40px;
  width: 40px;
  margin-top: 0;
  margin-left: 65px;
}

.h1 {
  color: azure;
  /* margin-top: 10px; */
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}

.h2 {
  color: azure;
  /* margin-top: 10px; */
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.7;
}

.h3 {
  color: azure;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}

.mh3 {
  color: azure;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}


.h4 {
  color: rgba(240, 255, 255, 0.568);
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}

.body {
  height: fit-content;
}

.message {
  margin-right: 10px;
}

.buttons {
  display: flex;
  margin-top: 10%;
}

.buttonsquestions {
  display: flex;
}

.buttons1 {
  display: flex;
}

.mainbuttons {
  background-color: #0a0e17;
  border-radius: 10px;
  margin-top: 3%;
}

.button {
  width: 50%;
  height: 52px;
  display: flex;
  color: #9A9C9F;
  background-color: #0a0e17;
  font-size: 17px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  align-items: center;
  justify-content: center;
}


.button:hover {
  color: #ffffff;
  background-color: #232cff;
}

.dropdown-container {
  width: 250px;
  margin-top: -3%;
  align-items: center;
  align-content: center;
  align-self: center;
}

.container {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 2%; */
}

.email-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.input-box {
  width: 98%;
  padding: 10px;
  margin-top: 5px;
  align-self: center;
  border: none;
  background-color: #1F1F1F;
  color: rgba(255, 255, 255, 0.61);
  margin-top: -3%;
}

.message-dropdown-container {
  margin-left: 15%;
  margin-top: -6%;
  height: 20px;
  text-size-adjust: 1px;
  color: rgba(255, 255, 255, 0.61);
}

.quick-message-dropdown {
  background-color: transparent;
  color: #ffffff85;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  font-family: Albert;
}

.quickmessages {
  background-color: #3D4553;
  font-size: 14px;
  font-weight: 400;
  font-family: Albert;
  color: white;
  /* padding: 30px;
  margin-left: 10px; */
}

.dropdown-icon {
  vertical-align: middle;
  width: 20px;
  margin-right: 8px;
}

.dropdown-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}


.email-box {
  width: 98%;
  padding: 10px;
  margin-top: 5px;
  align-self: center;
  border: none;
  background-color: #13161b;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: Albert;
}

.input-box::placeholder {
  color: #808080;
  font-size: 14px;
  min-width: 200px;
  font-family: Albert;
}

.email-box::placeholder {
  color: #808080;
  font-size: 14px;
  min-width: 200px;
  font-family: Albert;
}

.send-button {
  width: 100%;
  margin-top: 10px;
  height: 52px;
  align-items: center;
  background-color: #0a0e17;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
  align-content: center;
  border: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

button:hover {
  color: #ffffff;
  background-color: #232cff;
}

.input-box {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.line {
  width: 100%;
  align-self: center;
  border-top: 2px solid #0A0E17 !important;
  border: 0px;
}

.feedback-container {
  margin-top: 5px;
  display: flex;
  text-align: center;
}

.feedback-container1 {
  display: flex;
  text-align: center;
}

.feedback-button {
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
  height: 52px;
  align-items: center;
  background-color: transparent;
  border-radius: 0px;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  border-bottom: solid #ffffff;
  border-bottom-width: 2px;
  text-align: center;
  justify-content: center;
  box-shadow: none;
}

.feedback-button>* {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-button:hover {
  background-color: transparent;
}

.feedback-button:hover span {
  color: white;
}

.button-text {
  font-weight: 650;
  font-size: 12px;
}

.main {
  /* display: grid; */
  width: fit-content;
  /* grid-auto-rows: min-content; */
  /* gap: var(--size-3); */
  overflow-y: scroll;
  height: 100%;
  font-family: Albert;
  /* overscroll-behavior: contain; */
  /* grid-auto-flow: row; */
  /* width: 100%; */
  /* margin-top: 15px; */
  /* background-color: red; */
}

.main-message {
  /* display: grid; */
  /* grid-auto-rows: min-content; */
  /* gap: var(--size-3); */
  overflow-y: scroll;
  height: 100%;
  font-family: Albert;
  /* background-color: #7b7b7b; */
  /* overscroll-behavior: contain; */
  /* grid-auto-flow: row; */
  /* width: 100%; */
  /* margin-top: 15px; */
  /* background-color: whitesmoke; */
}

.main-message::-webkit-scrollbar {
  width: 0px;
}

.main::-webkit-scrollbar {
  width: 0px;
}

.questions-container {
  display: grid;
  position: relative;
  /* grid-auto-rows: min-content; */
  /* gap: var(--size-3); */
  overflow-y: scroll;
  height: 60%;
  /* overscroll-behavior: contain; */
  /* grid-auto-flow: row; */
  margin-top: 15px;
  width: 100%;
}

.main-cont {
  position: relative;
}

.questions-container::-webkit-scrollbar {
  width: 0px;
}

.fade {
  position: absolute;
  top: 72%;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(transparent, rgba(31, 31, 31, 0.8), #1F1F1F, #1F1F1F);
}


.fade-comments {
  position: absolute;
  top: 67%;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, rgba(31, 31, 31, 0.8), #1F1F1F, #1F1F1F);
}

.viewAll-button {
  background: transparent;
  color: #ffffff9d;
  font-weight: bold;
  border: transparent;
  position: relative;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
}

.loadmore-button {
  width: 100%;
  position: absolute;
  margin-top: 64%;
  height: 52px;
  align-items: center;
  background-color: #0a0e17;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  padding: 10px;
  font-weight: 550;
  border: none;
  text-align: center;
}

.viewAll-button:hover {
  background: transparent;
  color: white;

}

.comments-container {
  display: grid;
  position: relative;
  grid-auto-rows: min-content;
  gap: var(--size-3);
  overflow-y: scroll;
  height: 55%;
  overscroll-behavior: contain;
  grid-auto-flow: row;
  margin-top: 15px;
}

.comments-container::-webkit-scrollbar {
  width: 0px;
}

.question {
  background-color: #2C2F38;
  width: 85%;
  border-radius: 10px;
  padding: 15px;
  padding-top: 10px;
  margin-top: 15px;
  padding-bottom: 9px;
}

.question-username {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}

.time {
  margin-left: 12px;
  font-weight: 400;
  opacity: 0.7;
  font-size: 12px;
}

.question-text {
  margin-top: 10px;
  color: #ffffff9d;
  font-size: 14px;
  font-weight: 500;
}

.question-footer {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff9d;
  /* opacity: 0.8; */
  margin-top: 20px;
}

.text-btn:hover {
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.text-btn1:hover {
  color: #ffffff;
  background-color: transparent;
}

.footer {
  margin-top: 20px;
  display: flex;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff9d;
}

.text-btn {
  background-color: transparent;
  border: none;
  font-weight: 650;
  font-size: 17px;
  color: #ffffff9d;
  cursor: pointer;

}

.text-btn1 {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff9d;
}

.agenda-container {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--size-3);
  overflow-y: scroll;
  height: 430px;
  overscroll-behavior: contain;
  grid-auto-flow: row;
  margin-top: 15px;
  justify-content: center;
}

.agenda-container::-webkit-scrollbar {
  width: 0px;
}

.agenda-questions {
  display: flex;
  background-color: #2C2F38;
  /* width: 40%; */
  border-radius: 10px;
  padding: 15px;
  padding-top: 10px;
  margin-top: 15px;
  text-align: auto;
}

.agenda-questions:hover {
  background-color: #393c46;
  box-shadow: inset 0 0 0 1px #232cff;
}


.dragicon {
  width: 12px;
  height: 20px;
  align-items: center;
  margin-top: 5%;
}

.agenda-text {
  margin-left: 15px;
  width: 180px;
}

.message-count {
  background-color: #D50D55;
  padding: 2px;
  border-radius: 9px;
  padding-left: 8px;
  padding-right: 8px;
  /* margin-top: 15%; */
}

.count {
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
}

.control {
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
  /* margin-left: 25%;  */
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 0px;
}

.control input:checked~.control_indicator {
  background: #232cff;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked~.control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #232cff;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: calc(50% - 30px);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 10px solid #2C2F38;
  border-top: 10px solid #232cff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ddHover:hover {
  background-color: #232cff;
  color: white;
}

.email-box::-webkit-scrollbar {
  width: 0px;
}

.email-box {
  resize: none;
}

.read-more-button {
  background-color: transparent;
  color: #ffffff9d;
  border: 1px solid transparent;
  font-size: 18px;
  font-family: Albert;
  font-weight: 550;
  margin-left: -6px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.read-more-button:hover {
  background-color: transparent;
  color: #ffffff9d;
}

.read-more-text {
  font-size: 14px;
  color: #ffffff9d;
  font-family: Albert;
  font-weight: 550;
}

.read-more-text:hover {
  font-size: 14px;
  color: white;
  font-family: Albert;
}