.feedback-heading {
    color: #F8F8F8;
    font-feature-settings: 'clig' off, 'liga' off;
    /* header */
    font-family: Albert;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 16px;
}

.resource {
    width: 100%;
}

.d-flex {
    display: flex;
}

.tu{
    background-color: transparent;
    border: none;
    
}
.td{
    background-color: transparent;
    border: none;

}



.tu:hover{
    margin-left:0.8px;
    margin-top: 0.9px;
}

.td:hover{
    margin-right:0.8px;
    margin-top: 0.9px;
}

.tu:hover img {
  content: url('./assets/clickedTD.svg');
  background-color: transparent;
}

.td:hover img {
  content: url('./assets/clickedTU.svg');
  background-color: transparent;

}


.customerexperience {
    margin-top: 15px;
    width: 87.5%;
    background: #13161b;
    color: white;
    padding: 16px 16px 20px 16px;
    border-radius: 10px;
}

.sessionnotes {
    color: rgba(248, 248, 248, 0.60);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Albert;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    margin-top: 0px;
}

.gri {
    display: grid;
}

.customer {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.typeable {
    display: flex;
    position: relative;
}

.tick-img {
    height: 10px;
    width: 12.5px;
}

.tick-button {
    border-radius: 100px;
    padding: 0px;
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: transparent;
    border: 2px solid white;
    top: 5px;
    right: 0px;
    align-items: center;
    justify-content: center;
}

.tick-button:hover {
    background-color: #232cff;
}

.input {
    background-color: #13161b;
    border: none;
    border-bottom: solid 0.3px rgba(248, 248, 248, 0.60);
    height: 30px;
    width: 100%;
    color: white;
    font-size: 14px;
    margin-top: 5px;
    font-family: Albert;
}

.input:focus {
    outline: none;
}

.formdata {
    color: #F8F8F8;
    font-feature-settings: 'clig' off, 'liga' off;
    /* subheading */
    font-family: Albert;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
}

.like {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
}

.attendee {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.city {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
}

.userlist {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-data {
    color: #F8F8F8;
    font-feature-settings: 'clig' off, 'liga' off;
    /* headline */
    font-family: Albert;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.labels {
    padding-top: 1.31rem;
}


/* keypoint css */

.keypoints {
    margin-top: 10px;
    border-radius: 0.625rem;
    background: #13161b;
    backdrop-filter: blur(5px);
    height: fit-content;
    margin-bottom: 0px;
    padding: 5px 16px 0.08px 16px;
}

.expand {
    margin-left: 127px;
}

.ai {
    height: 30px;
    margin-top: 0px;
}

.points {
    color: #F8F8F8;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Albert;
    font-style: albert;
    font-weight: 700;
    padding-left: 7px;
    width: 50;
    padding-top: 5px;
}

.keypoints-head {
    display: flex;
    justify-content: space-between;
}

.keypoints-text {
    margin-top: -10px;
    font-family: Albert;
}

ul li {
    color: white;
    list-style-type: disc;
}

.expandable {
    max-height: 4em;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.d1-flex {
    display: flex;
    height: fit-content;
}

/* transcription */

.transcription-container {
    margin-top: 10px;
    border-radius: 0.625rem;
    background: #13161b;
    backdrop-filter: blur(5px);
    height: fit-content;
    margin-bottom: 0px;
    padding: 5px 16px 5px 16px;
}

.d2-flex {
    display: flex;
    height: fit-content;
}

.script {
    display: flex;
    justify-content: space-between;
}

.transcription {
    padding-left: 4px;
    padding-top: 5px;
    font-weight: 700;
}

.expand1 {
    margin-left: 86px;
}

/* carbon */

.carbon {
    margin-top: 10px;
    padding: 1rem 2rem 1.25rem 1.25rem;
    border-radius: 0.625rem;
    background: rgba(10, 14, 23, 0.60);
    width: 80%;
}

.attendee {
    width: 100%;
    margin-top: 5px;
}

.save {
    display: flex;
}

.carbon-head {
    color: #F8F8F8;
    font-feature-settings: 'clig' off, 'liga' off;
    /* header */
    font-family: Albert;
    font-size: 16px;
    font-weight: 650;
    line-height: normal;
}

.carbon-head-icon {
    display: flex;
    margin-right: -20px;
    margin-top: -15px;
}

.cities-head {
    color: rgba(248, 248, 248, 0.60);
    font-feature-settings: 'clig' off, 'liga' off;
    /* body */
    font-family: Albert;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 90%;
}

.count-resources {
    color: #2DF09E;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Albert;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
}

.details {
    display: grid;
}

.userlist {
    width: 100%;
    margin-top: 5px;
    display: grid;
    flex-direction: column;
}

.user-info {
    display: flex;
    width: 100%;
    padding-top: 10px;
    margin-top: 5px;
}

.avatar {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.username {
    padding-top: 3px;
    font-size: 14px;
    padding-left: 5px;
    color: rgba(248, 248, 248, 0.60);
    font-family: Albert;
    padding-right: 3px;
}

.place {
    padding-top: 3px;
    /* margin-left: -5px; */
    color: rgba(248, 248, 248, 0.60);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Albert;
    font-style: normal;
    line-height: normal;
    /* max-width: 90%; */
    display: flex;
}

.location {
    min-width: 120px;
    font-size: 14px;
    text-align: right;
    font-weight: 250;
    margin-right: 0px;
}

.edit {
    height: 15px;
    width: 20px;
    margin-left: 5px;
}

/* fulfilment */

.form {
    font-size: 16px;
    font-weight: 700;
}

.fulfilment {
    margin-top: 10px;
    padding: 1rem 2rem 1.25rem 1.25rem;
    border-radius: 0.625rem;
    background: rgba(10, 14, 23, 0.60);
    width: 80%;
    color: #F8F8F8;
}

.question-form {
    padding-top: 15px;
    font-size: 14px;
}

/* meeting-details */

.sharemeeting {
    margin-top: 10px;
    padding: 1rem 2rem 1.25rem 1.25rem;
    border-radius: 0.625rem;
    background: rgba(10, 14, 23, 0.60);
    width: 80%;
    color: #F8F8F8;
}

.share-head {
    font-size: 16px;
    font-weight: 700;
}

.team {
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}

.d3-flex {
    margin-top: 10px;
}

.team-members {
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;
}

/* research */

.research {
    border-radius: 0.625rem;
    background: rgba(10, 14, 23, 0.60);
    /* backdrop-filter: blur(5px); */
    height: fit-content;
    padding: 5px 16px 20px 16px;
    margin-top: 10px;
}

.links {
    margin-top: 10px;
}

.research-head {
    color: #F8F8F8;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Albert Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3125rem;
}

.link-button {
    border-radius: 10px;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 6px;
    margin-top: 6px;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.link-text {
    font-size: 14px;
    font-family: Albert;
    color: white;
    margin-left: 5px;
}

.link-image {
    width: 16px;
    height: 16px;
}